<!doctype html>
<html>
<head>
  <title><%= context.title %></title>
  <link href="gallery.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1 id="gallery-title"><%= context.title %></h1>
  <form id="gallery-title-edit" method="GET" action="">
    <input type="text" name="title">
    <input type="submit" value="Change Gallery Title">
  </form>
  <ul>
    <%= context.imageTags %>
  </ul>
  <div id="largeImgPanel" onclick="hideMe(this)">
    <div id="imgTitle"></div>
    <div id="imgDesc"></div>
    <img id="largeImg" style="height: 100%; margin: 0; padding: 0;">
  </div>
  <form id="image-upload-form" action="" method="POST" enctype="multipart/form-data">
    <h2>Upload New Item</h2>
    <label for="image">
      Image File:
    <input type="file" name="image">
    </label>
    <label for="title">
      Title:
      <input type="text" name="title">
    </label>
    <label for="description">
      Description:
      <input type="text" name="description">
    </label>
    <input type="submit" value="Upload Image">
  </form>
  <script src="gallery.js"></script>
</body>
</html>
